/********** RESET CSS **********/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
/********** GLOBAL **********/

.search-no-found {
  display: none;
  text-align: center;
  margin-top: 20px;
  color: red;
}

/********** FILTERS **********/
.filters {
  text-align: center;
  margin-top: 20px;
}
.filter-btn {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.filter-btn:hover {
  background-color: brown;
}
