/********** RESET CSS **********/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
/********** GLOBAL **********/

body {
  font-family: VT323, sans-serif;
  color: #333;
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0em;
}

h1 {
  font-size: 4rem;
  text-align: center;
  line-height: 1;
  margin: 0 0 20px 0;
}

/********** MAIN **********/
.container {
  max-width: 700px;
  margin: auto;
}

.pokemon-list {
  overflow-y: auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pokemon-wrapper {
  text-align: center;
  margin: 15px;
}

.num-wrapper {
  font-weight: bold;
  text-align: right;
  padding: 0 8px;
  width: fit-content;
}

.name-wrapper {
  font-weight: bold;
  text-align: center;
  margin: -22.5px 0 0 20px;
}

.image-wrapper img {
  max-width: 100%;
  height: 100%;
  background-color: #e4e4e4;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.list-item {
  width: fit-content;
  border-radius: 8px;
}


/********** SEARCH **********/
.search {
  text-align: center;
  background-color: #282828;
  padding: 15px 15px 20px 15px;
}

.search h2 {
  font-size: 1.5rem;
  color: white;
}

.search-input {
  width: 70%;
  padding: 8px;
  border: 0.5px;
  border-radius: 10px;
  background-color: white;
  font: inherit;
}

.search-no-found {
  display: none;
  text-align: center;
  font-size: 2em;
  margin: 20px 0 20px 0;
}

/********** PAGINATION **********/
.pagination {
  text-align: center;
  margin: 10px 0  0 0;
}

.pagination button {
  font: inherit;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0px 10px;
  border: none;
  border-radius: 10px;
  background-color: #e656d2;
  color: white;
  cursor: pointer;
}

/********** FOOTER **********/
footer {
  margin: 20px auto auto auto;
  text-align: right;
  font-size: 1.2em;
  max-width: 700px;
}

/********** FOCUS PAGE **********/

.header-focus {
  background-color: #282828;
  padding: 5px 0 5px 0;
  position: relative;
  z-index: 2;
  text-align: center;
}

.header-focus a {
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
}

/***** IMAGE FOCUS *****/
.image-focus {
  position: relative;
  margin: auto;
  max-width: 700px;
}

.detail-img {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  z-index: 3;
}

.detail-img img {
  width: 100%;
  height: 100%;
}
.arrow img {
  width: 50px
}

.image-focus a.arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

.image-focus a.arrow.arrow-left {
  left: 0;
}

.image-focus a.arrow.arrow-right {
  right: 0;
}

.pokemon-id {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0 0 0;
}

/***** INFOS FOCUS *****/

.focus-infos {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  margin: auto;
  max-width: 700px;
}

.focus-infos .name{
  text-transform: capitalize;
}
.detail {
  display: flex;
  align-items: flex-end;
}

.detail .height {
  margin: 0 0 0 10px;
}

.detail .weight {
  margin: 0 0 0 10px;
}

/* STATS */
.stats-wrap {
  display: flex;
  align-items: center;
}

.stats {
  font-size: 1.3em;
  width: 120px;
  white-space: nowrap;
}

.stats-wrap .progress-bar {
  flex: 1;
  height: 6px;
  border-radius: 10%;
}


/********** FILTERS 
.filters {
  margin: 20px 0 20px 0;
}

.filter-btn {
  font: inherit;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0px 10px;
  border: none;
  border-radius: 10px;
  background-color: #0e5cb4;
  color: white;
  cursor: pointer;
}
**********/